<div class="fixed top-0 right-0 bottom-0 left-0 flex items-center justify-center">
  <form class="flex min-w-1/2 flex-col" (submit)="handleLogin($event)">
    <h1 class="mb-8 text-center">Login</h1>
    <mat-form-field appearance="outline" hideRequiredMarker="true" class="mb-8">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter email" [formField]="loginForm.email" />
      @if (loginForm.email().invalid()) {
        <mat-error>{{ loginForm.email().errors()[0].message }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" hideRequiredMarker="true" class="mb-8">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter password"
        [formField]="loginForm.password"
      />

      @if (loginForm.password().invalid()) {
        <mat-error>{{ loginForm.password().errors()[0].message }}</mat-error>
      }
    </mat-form-field>
    <button matButton="filled">Login</button>
  </form>
</div>
